<div class="container">
  <div class="row">
    <!--<div *ngFor="let emotion of _emotionStats">
    <div>anger</div>
    <div>{{emotion.anger}}</div>
    <div>contempt</div>
    <div>{{emotion.contempt}}</div>
    <div>disgust</div>
    <div>{{emotion.disgust}}</div>
    <div>neutral</div>
    <div>{{emotion.neutral}}</div>
    <div>sadness</div>
    <div>{{emotion.sadness}}</div>
    <div>happiness</div>
    <div>{{emotion.happiness}}</div>
    <div>surprise</div>
    <div>{{emotion.surprise}}</div>
    <div>fear</div>
    <div>{{emotion.fear}}</div>
    <div></div>
  </div>-->
    <div class="row">
      <div class="at-trend-container">
        <emotions-trend></emotions-trend>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <emotion-chart [emotion]='latestEmotion' [title]='"Emotion of the hour"'></emotion-chart>
      </div>
       <div class="col-lg-4">
        <emotion-avg-chart [emotion]='latestEmotion' [title]='"Avg Emotion"'></emotion-avg-chart>
      </div>

    </div>
    <!--<chart [options]="options"></chart>-->

  </div>
</div>
