<script src="node_modules/chart.js/src/chart.js"></script>
<div class="row">
  <!--<div *ngFor="let emotion of _emotionStats">
    <div>anger</div>
    <div>{{emotion.anger}}</div>
    <div>contempt</div>
    <div>{{emotion.contempt}}</div>
    <div>disgust</div>
    <div>{{emotion.disgust}}</div>
    <div>neutral</div>
    <div>{{emotion.neutral}}</div>
    <div>sadness</div>
    <div>{{emotion.sadness}}</div>
    <div>happiness</div>
    <div>{{emotion.happiness}}</div>
    <div>surprise</div>
    <div>{{emotion.surprise}}</div>
    <div>fear</div>
    <div>{{emotion.fear}}</div>
    <div></div>
  </div>-->
  <div class="row">
    <emotions-trend></emotions-trend>
  </div>
  <div class="row">
    <emotion-chart [emotion]='latestEmotion'></emotion-chart>
  </div>
  <!--<chart [options]="options"></chart>-->

</div>
